.table{
    display: flex;
    flex-direction: column;
    margin-left: 260px;
    width: 1000px;
    padding: 10px;
}

.head{
    background: white;
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 100%;
    border-radius: 10px 10px 0px 0px; 
    margin-bottom: 20px;
}

.head h1{
    font-size: 20px;
    margin: 10px;
}

.head button{
    border: none;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    left: 680px;
    top: -2px;
    margin: 10px;
    background: #1F51FF;
    color: white;
}

.table-section{
    height: 500px;
    overflow: auto;
    background: white;
    border-radius: 0px 0px 10px 10px;
}

table{
    width: 100%;
    table-layout: fixed;
    min-width: 1000px;
}

thead th{
    position: sticky;
    top: 0;
    background: #f6f9fc;
    padding: 0px;
}

td, th{
    border-bottom: 1px solid #dddddd;
    padding: 5px;
    word-break: break-all;
    text-align: center;
}

.edit, .delete{
    border: none;
    padding: 5px;
    width: 50px;
    align-items: center;
    border-radius: 5px;
    color: white;
}

.edit{
    background-color: #1F51FF;
}

.edit span{
    position: relative;
    top: 2px;
}

.delete{
    background-color: #f80000;
}

.delete span{
    position: relative;
    top: 2px;
}

tbody tr{
    --delay: 0.1s;
    transition: 0.4s ease-in-out var(--delay);
}

tbody tr.hide{
    opacity: 0;
    transform: translateX(100%);
}

tbody tr.hide td{
    padding: 0;
    font: 0 / 0 "Poppins", serif;
    display: none;
    transition: 0.4s ease-in-out 0.3s;
}

tr:hover td{
    color: #0298cf;
    cursor: pointer;
    background-color: #f6f9fc;
}


.edit-cat, .add-cat, .delete-cat{
    background-color: whitesmoke;
    width: 400px;
    height: 200px;
    justify-content: center;
    position: relative;
    left: 60%;
    top: -350px;
    transform: translateX(-50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.4);
}


.edit-cat h2, .add-cat h2, .delete-cat h2{
    text-align: center;
    font-weight: normal;
    margin-bottom: 35px;
}

.edit-cat input, .add-cat input{
    border: 0px;
    width: 82%;
    height: 30px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-left: 10px;
}

.edit-cat #update, .add-cat #add, .delete-cat #delete-cancel{
    background-color: blue;
    width: 100px;
    margin-left: 60px;
    margin-top: 10px;
    text-align: center;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 10px;
}

.edit-cat #edit-cancel, .add-cat #add-cancel, .delete-cat #delete{
    background-color: red;
    width: 100px;
    margin-left: 90px;
    margin-top: 10px;
    text-align: center;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 10px;
}
.opac{
    opacity: 0.5;
}

.display-none{
    display: none;
}

.widen{
    width: 92%;
    margin-left: 95px;
    transition: 0.4 ease 0.5s;
}

.widen .head button{
    position: relative;
    left: 850px;
    transition: 0.4 ease 0.5s;
}


