.add-search{
    position: relative;
    left: 280px;
    width: 76%;
    margin-bottom: 30px;
}

.head-container{
    display: grid;
    grid-template-columns: 3fr  2fr;
    grid-template-rows: auto auto;
    gap: 10px;
}

.search-add{
    display: flex;
    justify-content: space-between;
}

.add-button{
    border: none;
    color: white;
    background-color: blue;
    padding: 10px;
    border-radius: 10px;
}

#search-category{
    border: 1px solid black;
    width: 240px;
    padding: 10px;
    border-radius: 20px;
}

.page-name{
    font-size: 30px;
}

.container{
    position: relative;
    left: 280px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 75%;
}

.container-item{
    display: grid;
    grid-template-columns: 5% 32% 20% 15%;
    gap: 100px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.container-item:hover{
    box-shadow: 0px 8px 8px 0px rgba(0,0,0, 0.2);
    color: #0298cf;
}

.edit{
    background-color: blue;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: white;
    width: 50px;
}

.delete{
    background-color: red;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: white;
    width: 50px;
}