{%extends "index.html"%}

{% block title %}Categories{%endblock%}

{% block extra_css %}
<link rel="stylesheet" href="../static/css/category.css">
{% endblock %}

{%block content%}

<div class="table">
    <div class="table-head">
        <div class="head">
            <h1>Categories</h1>
            <button><span>&plus; New Category</span></button>
        </div>
    </div>
    <div class="table-section">
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>Products</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="category-container">
                <tr class="category-list">
                    <td class="id"></td>
                    <td class="name"></td>
                    <td class="product-count"></td>
                    <td>
                        <button class="edit"><span class="material-symbols-rounded">Edit</span></button>
                        <button class="delete"><span class="material-symbols-rounded">Delete</span></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="edit-cat display-none">
    <h2>Edit a Category</h2>
    <form action="">
        <label for="category_name">
            Name:
        </label>
        <input type="text" id="category_name">
        <button type="submit" id="update">Update</button>
        <button type="submit" id="edit-cancel">Cancel</button>
    </form>
</div>
<div class="add-cat display-none">
    <h2>Add New Category</h2>
    <form action="" method="post">
        <label for="category_name">
            Name:
        </label>
        <input type="text" id="category_name">
        <button type="submit" id="add">Create</button>
        <button type="submit" id="add-cancel">Cancel</button>
    </form>
</div>
<div class="delete-cat display-none">
    <h2>Are you sure you want to delete Category</h2>
    <h6>Please note by clicking delete everything associated with the this category will be deleted</h6>
    <button type="submit" id="delete">Delete</button>
    <button type="submit" id="delete-cancel">Cancel</button>
</div>
<div class="message display-none">
    <h6>Category Created Successfully</h6>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="../static/js/index.js"></script>
<script src="../static/js/category.js"></script>
{%endblock%}