{% extends 'index.html'%}

{%block title%}test{%endblock%}

{%block extra_css%}
<link rel="stylesheet" href="../static/css/description.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
{%endblock%}

{%block content%}

<div class="header">
    <div class="name">
        <span>Product Name: </span>
        <span class="productName">Garri</span>
        <button type="button"><span class="material-symbols-rounded">Edit_square</span></button>
    </div>
    <div class="supplier">
        <span>Suppliers Name: </span>
        <span class="suppliersName">Fisayo Aasa</span>
        <button type="button"><span class="material-symbols-rounded">Edit_square</span></button>
    </div>
    <div class="price">
        <span>Price: </span>
        <span class="pricecon">12.99</span>
        <button type="button"><span class="material-symbols-rounded">Edit_square</span></button>
    </div>
</div>

<div class="content">
    <div class="container">
        <div class="current-stock">
            <div class="header-item">
                <span>Current Stock: </span>
                <button type="button"><span class="material-symbols-rounded">Edit_square</span></button>
            </div>
            <span class="instock">1000</span>
        </div>
        <div class="originalStock">
            <div class="header-item">
                <span>Original Stock: </span>
            </div>
            <span class="original">1000</span>
        </div>
        <div class="reordering-level">
            <div class="header-item">
                <span>Repordering Threshold: </span>
                <button type="button"><span class="material-symbols-rounded">Edit_square</span></button>
            </div>
            <span class="reorder">1000</span>
        </div>
        <div class="AmountSold">
            <div class="header-item">
                <span>Amount Sold: </span>
            </div>
            <span class="amountsold">1000</span>
        </div>
    </div>
</div>

<div class="analysis">
    <div class="monthly-sales">
        <div class="header-item">
            <span>Monthly Sales & Revenue</span>
        </div>
        <div class="graph">
            <canvas id="monthlySales"></canvas>
        </div>
    </div>
    <div class="yearly-sales">
        <div class="header-item">
            <span>Yearly Sales & Revenue</span>
        </div>
        <div class="graph">
            <canvas id="YearlySales"></canvas>
        </div>
    </div>
</div>

<div class="edit display">
    <div class="update-head-container">
        <span class="update-header">Update</span>
    </div>
    <form action="" method="post">
        <div class="edit-items">
            <label for="edit">Something: </label>
        <input type="text" id="edit" name="add">
        </div>
        <div class="edit-actions">
            <input type="button" value="Update" class="submit">
            <input type="button" value="Cancel" class="cancel">
        </div>
    </form>
</div>
<div class="message display">
    <h6>Category Created Successfully</h6>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="../static/js/index.js"></script>
<script src="../static/js/description.js"></script>
{%endblock%}