{%extends "index.html"%}

{%block title%}products{%endblock%}

{%block extra_css%}
<link rel="stylesheet" href="{{url_for('static', filename='css/product.css')}}">
{%endblock%}

{%block content%}
<div class="pro-rank">
    <div class="chart-container top-pro">
        <span>Top Products</span>
        <canvas id="myChart3"></canvas>
    </div>

    <div class="chart-container least-pro">
        <span>Least Favourite</span>
        <canvas id="myChart4"></canvas>
    </div>
</div>
<div class="table">
    <div class="table-head">
        <div class="head">
            <h1>Products</h1>
            <label for="lookUp"></label>
            <input type="text" name="lookUp" id="lookUp" placeholder="Search for Product">
            <button><span>&plus; New Product</span></button>
        </div>
    </div>
    <div class="table-section">
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>In-stock</th>
                    <th>Amount-Sold</th>
                    <th>Reordering<br>Threshold</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="product-container">
                <tr class="product-list">
                    <td class="id"></td>
                    <td class="name"></td>
                    <td class="price"></td>
                    <td class="instock"></td>
                    <td class="amountsold"></td>
                    <td class="reorder"></td>
                    <td>
                        <button class="edit"><span class="material-symbols-rounded">Edit</span></button>
                        <button class="delete"><span class="material-symbols-rounded">Delete</span></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="edit-pro display-none">
    <h2>Edit Product</h2>
    <form action="">
        <label for="product_name">
            Name:
        </label>
        <input type="text" id="product_name">
        <label for="price">Price:</label>
        <input type="text" id="price">
        <label for="in-stock">Amount Instock:</label>
        <input type="text" id="in-stock">
        <label for="edit-reorder">Reordering Threshold:</label>
        <input type="text" name="edit-reorder" id="edit-reorder">
        <button type="submit" id="update">Update</button>
        <button type="submit" id="edit-cancel">Cancel</button>
    </form>
</div>
<div class="add-pro display-none">
    <h2>Add New Product</h2>
    <form action="" method="post">
        <label for="add-product_name">
            Name:
        </label>
        <input type="text" id="add-product_name">
        <label for="add-price">Price:</label>
        <input type="text" name="add-price" id="add-price">
        <label for="add-in-stock">Stock Amount:</label>
        <input type="text" name="add-in-stock" id="add-in-stock">
        <label for="add-reorder">Reordering Threshold:</label>
        <input type="text" name="add-reorder" id="add-reorder">
        <button type="submit" id="add">Create</button>
        <button type="submit" id="add-cancel">Cancel</button>
    </form>
</div>
<div class="delete-pro display-none">
    <h2>Are you sure you want to delete Product</h2>
    <h6>Please note by clicking delete everything associated with the this Product will be deleted</h6>
    <button type="submit" id="delete">Delete</button>
    <button type="submit" id="delete-cancel">Cancel</button>
</div>
<div class="message display-none">
    <h6></h6>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="../static/js/index.js"></script>
<script src="../static/js/product.js"></script>
{%endblock%}