{%extends 'index.html'%}

{%block title%}Product{%endblock%}

{%block extra_css%}
<link rel="stylesheet" href="../static/css/product.css">
{%endblock%}

{%block content%}

<div class="pro-rank">
    <div class="chart-container top-pro">
        <span>Top Products</span>
        <div class="graph">
            <canvas id="myChart3"></canvas>
        </div>
    </div>

    <div class="chart-container least-pro">
        <span>Least Favourite</span>
        <div class="graph">
            <canvas id="myChart4"></canvas>
        </div>
    </div>
</div>

<div class="add-search">
    <div class="head-container">
        <div class="page-name head-item"><span>Product</span></div>
        <div class="search-add head-item">
            <input type="text" name="add-search" placeholder="Search for Product" id="search-product">
            <button type="button" class="add-button"><span class="add-logo">&plus;</span> New Product </button>
        </div>
    </div>
</div>
<div class="container">
    <div class="container-item">
        <div class="product-id"></div>
        <div class="product-name"></div>
        <div class="product-stock"></div>
        <div class="actions">
            <button class="delete" type="button">Delete</button>
        </div>
    </div>
</div>

<div class="add-pro display-type">
    <h2>Add New Product</h2>
    <form action="">
        <div>
            <label for="add-product_name">
                Name:
            </label>
        </div>
        <input type="text" id="add-product_name">
        <div>
            <label for="add-price">Price:</label>
        </div>
        <input type="number" name="add-price" id="add-price">
        <div>
            <label for="add-in-stock">Stock Amount:</label>
        </div>
        <input type="number" name="add-in-stock" id="add-in-stock">
        <div>
            <label for="add-reorder">Reordering Threshold:</label>
        </div>
        <input type="number" name="add-reorder" id="add-reorder">
        <div>
            <label for="add-supply">Supplier Name:</label>
        </div>
        <select name="add-supply" id="add-supply">
            <option value="option1" class="supplierName" selected>Test1</option>
        </select>
        <input type="submit" id="add" value="Create">
        <input type="submit" id="add-cancel" value="Cancel">
    </form>
</div>

<div class="delete-name display-type">
    <h3>Are your sure you want to delete</h3>
    <form action="">
        <div class="delete-items">
            <span>Note by deleting this item you are deleting items associated with it.</span>
        </div>
        <div class="delete-actions">
            <input type="button" value="delete" class="cancel">
            <input type="button" value="Cancel" class="submit">
        </div>
    </form>
</div>

<div class="message display-type">
    <h6></h6>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="../static/js/index.js"></script>
<script src="../static/js/product.js"></script>
{%endblock%}