{%extends 'index.html'%}

{%block title%}Product{%endblock%}

{%block extra_css%}
<link rel="stylesheet" href="../static/css/report.css">
{%endblock%}

{%block content%}

<div class="add-search">
    <div class="head-container">
        <div class="page-name head-item"><span>Report</span></div>
        <div class="search-add head-item">
            <input type="text" name="add-search" placeholder="Search for Report" id="search-report">
        </div>
    </div>
</div>
<div class="container">
    <div class="container-item">
        <div class="report-id">1</div>
        <div class="report-name">Test</div>
        <div class="actions">
            <button class="submit" type="button">Download</button>
            <button class="delete" type="button">Delete</button>
        </div>
    </div>
</div>

<div class="delete-name display-type">
    <h3>Are your sure you want to delete report</h3>
    <form action="">
        <div class="delete-actions">
            <input type="button" value="delete" class="cancel">
            <input type="button" value="Cancel" class="submit">
        </div>
    </form>
</div>

<div class="message display-type">
    <h6></h6>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="../static/js/index.js"></script>
<script src="../static/js/report.js"></script>
{%endblock%}