{%extends 'index.html'%}

{%block title%}Category{%endblock%}

{%block extra_css%}
<link rel="stylesheet" href="../static/css/supplier.css">
{%endblock%}

{%block content%}
<div class="add-search">
    <div class="head-container">
        <div class="page-name head-item"><span>Supplier</span></div>
        <div class="search-add head-item">
            <input type="text" name="add-search" placeholder="Search for Supplier" id="search-supplier">
            <button type="button" class="add-button"><span class="add-logo">&plus;</span> New Supplier</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="container-item">
        <div class="supplier-id"></div>
        <div class="supplier-name"></div>
        <div class="supplier-items"></div>
        <div class="actions">
            <button class="delete" type="button">Delete</button>
        </div>
    </div>
</div>

<div class="name-add display-type">
    <h3>Add Supplier</h3>
    <form action="">
        <div class="add-name">
            <label for="name">Supplier Name:  </label>
        </div>
        <input type="text" id="name" name="name" required>
        <div class="add-phone">
            <label for="phoneno">Supplier Contact:  </label>
        </div>
        <input type="tel" id="phoneno" name="phoneno" required>
        <div class="add-email">
            <label for="email">Supplier email:  </label>
        </div>
        <input type="email" id="email" name="email" required>
        <div class="add-cname">
            <label for="cname">Company Name:  </label>
        </div>
        <input type="text" id="cname" name="cname" required>
        <div class="add-actions">
            <input type="button" value="Create" class="submit">
            <input type="button" value="Cancel" class="cancel">
        </div>
    </form>
</div>

<div class="cannot-delete display-type">
    <h3>Cannot Delete Supplier</h3>
    <form action="">
        <div class="delete-items">
            <span>Not Allowed due to some Products being assigned to Supplier</span>
        </div>
        <div class="delete-actions">
            <input type="button" value="Ok" class="submit">
        </div>
    </form>
</div>
<div class="delete-name display-type">
    <h3>Delete Supplier</h3>
    <form action="">
        <div class="delete-items">
            <span>Note by deleting this item you are deleting items associated with it.</span>
        </div>
        <div class="delete-actions">
            <input type="button" value="delete" class="cancel">
            <input type="button" value="Cancel" class="submit">
        </div>
    </form>
</div>

<div class="message display-type">
    <h6>Category Created Successfully</h6>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="../static/js/index.js"></script>
<script src="../static/js/supplier.js"></script>
{%endblock%}